<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
        <h1>Blocmetrics</h1>
        <small id="tagline">a Blue Lion joint</small>
      </div>
    </div>
  </div>
</section>
<br>
<div class="text-center">
  <i class="glyphicon glyphicon-hand-right"></i>
  <%= link_to "Learn more", about_path, class: 'btn btn-primary btn-large' %>
  <i class="glyphicon glyphicon-hand-left"></i>
</div>
<br>

<!--Info section beneath banner -->

<div class="jumbotron jumbotron-fluid">
  <div class="text-center">
    <h4 class="text-primary"> Sign up for blocmetrics today! </h4>
      <%= link_to "Sign In", new_user_session_path %> or
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
    </p>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h2>Option 1</h2>
    <p>Option 1 explanation</p>
  </div>
  <div class="col-md-4">
    <h2>Option 2</h2>
    <p>Option 2 explanation</p>
  </div>
  <div class="col-md-4">
    <h2>Option 3</h2>
    <p>Option 3 explanation</p>
  </div>
</div>
